<div class="row">
	<div class="col-md-4">

		<div class="portlet-title">
			<div class="page-header">
				<h3>Login</h3>
			</div>
		</div>
		<div class="portlet-body">
			
			<div  style="color:red;text-align:center;" *ngIf="login_error">
				Invalid Login Credentials
			</div>


			{{loggedInUser|json}}
			<form (ngSubmit)="onSubmit()">
				<div class="form-group">
					<label for="userName">EmailId :</label> <input type="email" class="form-control" name="emailId" placeholder="Enter emailId"
					 autofocus="autofocus" required="required" value="naresh.kumar@revature.com"  [(ngModel)]="user.email"/>
				</div>

				<div class="form-group">
					<label for="password">Password :</label> <input type="password" class="form-control" name="password" placeholder="Enter Password"
					 required="required" id="password" value="pass123"  [(ngModel)]="user.password" />
				</div>
				<div class="form-group">
					<button type="submit" name="add" class="btn btn-success" id="addLoginBtn">SIGN IN</button>
				</div>
			</form>
		</div>
	</div>